WsComClientes/XSD/TramaActualizarEstadoRequisito.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:element name="REQUISITO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TipoIdent" minOccurs="1" maxOccurs="1" nillable="false" id="TipoIdent">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:enumeration value="CC" />
										<xs:enumeration value="NI" />
										<xs:enumeration value="CE" />
										<xs:enumeration value="FN" />
										<xs:enumeration value="NU" />
										<xs:enumeration value="RC" />
										<xs:enumeration value="MS" />
										<xs:enumeration value="PA" />
										<xs:enumeration value="TI" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NroIdentificacion" minOccurs="1" maxOccurs="1" nillable="false" id="NroIdentificacion">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="12" />
										<xs:whiteSpace value="collapse" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ParteAlfabetica" minOccurs="0" maxOccurs="1" nillable="0" id="ParteAlfabetica">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3" />
										<xs:whiteSpace value="collapse" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Sucursal" minOccurs="0" maxOccurs="1" nillable="true" id="Sucursal">
								<xs:simpleType>
									<xs:union>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="12" />
											</xs:restriction>
										</xs:simpleType>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""  />
											</xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Centrocosto" minOccurs="0" maxOccurs="1" nillable="false" id="Centrocosto">
								<xs:simpleType>
									<xs:union>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="12" />
											</xs:restriction>
										</xs:simpleType>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""  />
											</xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Usuario" minOccurs="1" maxOccurs="1" nillable="false" id="Usuario">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="12" />
										<xs:whiteSpace value="collapse" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
              <xs:element name="Requisito" minOccurs="1" maxOccurs="1" nillable="0" id="Requisito">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="6" />
                    <xs:whiteSpace value="collapse" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EstadoRequisito" minOccurs="1" maxOccurs="1" nillable="false" id="EstadoRequisito">
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:totalDigits value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="1" />
                        <xs:enumeration value="2" />
                        <xs:enumeration value="3" />
                        <xs:enumeration value="4" />
                        <xs:enumeration value="5" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
</xs:schema>